.table th {
  padding-left: 10px;
}
.table-row button {
  border-radius: 10px;
  margin-top: 20px;
  margin-inline-start: 10px;
}
.table span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
.table td {
  padding: 10px;
}
.table i {
  cursor: pointer;
  margin: 20px;
  color: black;
  text-transform: none;
  text-decoration: underline;
}
span {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
  }